---
import { SEO } from "astro-seo";
import "../styles/global.scss";
import "@fontsource-variable/figtree";

import Calendar from "../components/Calendar.astro";
import Hero from "../components/Hero.astro";

import { siteConfig } from "../schemas/config";
const { name, subtitle, description, calendar } = siteConfig;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{name} {subtitle && `| ${subtitle}`}</title>
		<SEO
			title=`${name}`
			description=`${description}`
			charset="UTF-8"
			canonical=`${Astro.url.href}`
			openGraph={{
				basic: {
					title: `${name}`,
					type: "website",
					image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
				},
				optional: {
					description: `${description}`,
					locale: "en_US",
					siteName: `${name}`,
				},
			}}
		/>
	</head>
	<body>
		<section class="section">
			<div class="container is-max-tablet box is-bordered">
				<Hero />
			</div>
		</section>
		<div class="section">
			<div class="container is-max-tablet box is-bordered">
				<Calendar {calendar} />
			</div>
		</div>
	</body>
</html>

<style>
	.box.is-bordered {
		border: 1px solid var(--bulma-primary); /* A standard Bulma grey color */
	}
</style>